# cd /home/pi/RxTouch/_Resources
# sudo cp rxtouch.service /etc/systemd/system/
# sudo chmod 644 /etc/systemd/system/rxtouch.service
# sudo systemctl daemon-reload
#
# sudo systemctl enable rxtouch
# sudo systemctl start rxtouch
#
# sudo systemctl status rxtouch
#
# sudo systemctl stop rxtouch
# sudo systemctl disable rxtouch
#
# See: https://www.raspberrypi.com/tutorials/how-to-use-a-raspberry-pi-in-kiosk-mode/

[Unit]
Description=RxTouch Kiosk
Wants=graphical.target
After=graphical.target

[Service]
#Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/pi/.Xauthority
Type=simple
ExecStart=/bin/bash /home/pi/RxTouch/runkiosk.sh
Restart=on-abort
User=pi
Group=pi

[Install]
WantedBy=graphical.target